*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: none;
    text-decoration: none;
}

.wrapper {
    position: relative;
    background-color: #333;
    padding: 3rem 8%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .header {
    padding: 1.5rem 8%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
}

.wrapper .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #fff;
}

.wrapper .header .logo {
    width: fit-content;
    height: 100%;
    object-fit: cover;
}

.wrapper .login-box {
    width: 100%;
    padding: 2rem 1rem;
    max-width: 800px;
    max-width: 300px;
    max-width: 600px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.wrapper .login-box .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.wrapper .login-box .heading h1{
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.wrapper .login-form {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    max-width: 600px;
    max-width: 350px;
    max-width: 600px;
    min-height: 500px;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.wrapper .login-box .continue {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 0rem;
    border-bottom: 1px solid #444;
}

.wrapper .login-box .continue .continue-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 2rem;
    padding: 0.66rem 3rem;
    cursor: pointer;
}

.wrapper .login-box .continue .continue-box i{
    font-size: 16px;
    color: #eee;

}

.wrapper .login-box .continue .continue-box strong{
    width: 200px;
    font-size: 18px;
    font-weight: 400;
    color: #aaa;

}

.wrapper .login-box .continue .continue-box:hover i,
.wrapper .login-box .continue .continue-box:hover strong{
color: #fff;
}

.wrapper .login-box form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.wrapper .login-box form .box-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.wrapper .login-box form .box-form label{
    font-size: 14px;
    color: #aaa;
}

.wrapper .login-box form .box-form input{
    background-color: #111;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #aaa;
    padding: 0.5rem 1rem;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember label{
    font-size: 14px;
    font-weight: 400;
    color: #eee;
    padding-bottom: 3px;
    text-transform: capitalize;
    cursor: pointer;
}

.box-btn {
    padding: 1rem 0rem;
    border-bottom: 1px solid #444;
    display: flex;
    flex-direction: column;
}

.box-btn .btn-login{
    width: 10;
    padding: 0.6rem 0rem;
    padding-bottom: 0.6rem;
    background-color: #000;
    border: 1px solid #aaa;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: capitalize;
}

.box-btn .btn-login:hover{
    border-top: 1px solid #fff;
}

.forgot {
    padding: 0.25rem 0rem;
}

.forgot a{
    font-size: 16px;
    font-weight: 400;
    color:#eee;
}

.forgot a:hover{
    color:#eee;
    text-decoration: underline;
}

.account {
    padding: 0.25rem 0rem;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 4px;
    color:#fff;
}

.account a{
    font-size: 16px;
    font-weight: 600;
    color:#fff;
    letter-spacing: -0px;
    text-decoration: underline;
}

.account a:hover{
    color:#c3b5ff;
}